* {
    box-sizing: border-box;
}

h2 {
    color: red;
    font-size: 30px;
    text-align: center;
   font-weight: 100;
   font-style: italic;
   text-decoration: line-through;
   font-size: 30px;
}

.content {
    color: blue;
}
.pink {
    color: pink;
}

#begin {
    color: orange;
    font-weight: bold;
}

.text {
    font-weight: 900;
    text-transform: uppercase;
}

.box {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    padding: 20px;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px dashed black;
    margin: 50px;
    display: inline-block;
    z-index: 3;
    vertical-align: middle;
}

a {
    padding: 20px;
    margin: 20px;
    width: 500px;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}
/* Блочные */

/* Строчные */
/*строчно-Блочные  */

nav {
    position: fixed;
    top: 100px;
    right: 0;
}

.example {
    position: relative;
}

.red {
    background-color: red;
    z-index: 4;
    height: 30vh;
    width: 50vw;
}